{{ ansible_managed | comment }}

# Minio local/remote volumes.
{% if anro_minio_server_cluster_nodes | length > 0 %}
MINIO_VOLUMES="{{ anro_minio_server_cluster_nodes | join(' ') }}"
{% else %}
MINIO_VOLUMES="{{ anro_minio_server_datadirs | join(' ') }}"
{% endif %}
# Minio cli options.
MINIO_OPTS="--console-address {{ anro_minio_server_console_addr }}:{{ anro_minio_server_console_port }} --address {{ anro_minio_server_api_addr }}:{{ anro_minio_server_api_port }} {{ anro_minio_server_opts | default([]) | join(' ') }}"
{% if anro_minio_admin_user is defined and anro_minio_admin_user | length >0 and anro_minio_admin_password is defined and anro_minio_admin_password | length >0 %}
# Secret key of the server.
MINIO_ROOT_USER="{{ anro_minio_admin_user }}"
MINIO_ROOT_PASSWORD="{{ anro_minio_admin_password }}"
{% endif %}

CI=true
MINIO_CI=true

{% if anro_minio_server_env_extra | length > 0 %}
{% for item in anro_minio_server_env_extra %}
{{item.name | upper}}="{{ item.value }}"
{% endfor %}
{% endif %}
