# Managed by Ansible. Contains credentials; permissions MUST remain restrictive.
MINIO_ROOT_USER={{ minio_root_user | string | to_json }}
MINIO_ROOT_PASSWORD={{ minio_root_password | string | to_json }}
MINIO_VOLUMES={{ ((minio_server_cluster_nodes if minio_server_cluster_nodes | length > 0 else minio_server_datadirs) | join(' ')) | to_json }}
MINIO_OPTS={{ ('--address ' ~ minio_server_address ~ ' --console-address ' ~ minio_console_address ~ ((' --certs-dir ' ~ minio_tls_cert_dir) if minio_tls_enabled else '')) | to_json }}
{% for item in minio_server_env_extra %}
{{ item.name }}={{ item.value | string | to_json }}
{% endfor %}
