# Managed by Ansible. Contains credentials; permissions MUST remain restrictive.
MINIO_ROOT_USER={{ anro_minio_root_user | string }}
MINIO_ROOT_PASSWORD={{ anro_minio_root_password | string }}
MINIO_VOLUMES={{ ((anro_minio_server_cluster_nodes if anro_minio_server_cluster_nodes | length > 0 else anro_minio_server_datadirs) | join(' ')) }}
MINIO_OPTS={{ ('--address ' ~ anro_minio_server_address ~ ' --console-address ' ~ anro_minio_console_address ~ ((' --certs-dir ' ~ anro_minio_tls_cert_dir) if anro_minio_tls_enabled else '')) | to_json }}
{% for item in anro_minio_server_env_extra %}
{{ item.name }}={{ item.value | string }}
{% endfor %}
